::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 0.3; /* Firefox */
}

.AddTask {
  padding: 0.5rem 2.15rem;
}
form {
  display: flex;
  align-items: center;
}

input[type="text"] {
  font-size: 1rem;
  width: 100%;
  border: none;
}
input[type="text"]:focus {
  border: none;
  outline: none;
}
.AddTask__plus-icon {
  width: 15px;
  position: relative;
  bottom: 2px;
  right: 4px
}

.AddTask__autocomplete-results {
  border: 1px solid lightgray;
}