.AddList form {
  display: flex;
  align-items: center;
}

.AddList input[type='text'] {
  font-size: 1rem;
  width: 100%;
  border: none;
}
.AddList input[type='text']:focus {
  border: none;
  outline: none;
}
