.ListItem {
  padding: 0.5rem 1rem;
  padding-left: 0.3rem;
  display: flex;
  align-items: center;
}

.ListItem:hover {
  background-color: rgb(232, 232, 232);
  border-radius: 3px;
}

.ListItem__title {
  text-overflow: ellipsis;
  overflow: hidden;
}
.ListItem__color {
  margin-right: 0.5rem;
  background-color: lightgray;
  border: 1px dashed black;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  min-height: 1rem;
  min-width: 1rem;
  justify-content: center;
}

.bold {
  font-weight: 600;
}